.main-nav {
    display: flex;
    justify-content: space-between;
    background: #ffbb42;
    padding: 20px 0;
    margin: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.logo {
    display: inline-block;
    align-items: center;
    font-size: 40px;
    margin: 0 0 0 20px;
    font-weight: bold;
}
.main-nav ul {
    text-transform: uppercase;
    padding: 15px 0 0 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
.main-nav li {
    display: inline-block;
    margin-right: 60px;
}